@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-[Roboto+Condensed];
  }

  li {
    @apply px-4;
    @apply cursor-pointer;
  }
}

.content-div  {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 250px;
}

.content-div:hover {
  background-image: linear-gradient(
          to right,
          rgba(219, 15, 115, 0.8),
          hsla(330.6, 87.2%, 45.9%, 0.8 )
  )!important
}


